body{
  margin: 0;
  padding: 0;
}
.background-img{
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  /* opacity: 0.5; */
}
/* Header */
.header__container{
  height: 90vh;
  width: 100%;
}
